/* Smartphones (portrait and landscape) ----------- */
/* Large Phones ----------- */


$MBG: rgb(0,0,0);
$MGradient: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.39399509803921573) 50%, rgba(255,255,255,0) 100%);


@media only screen and (min-width : 768px) and (max-width : 992px) {

    #Header{
        padding: 0;
      
       .Title{
            bottom: -14%;
         }
    }
}
@media only screen and (min-width : 576px) and (max-width : 768px) {
#Header{
    padding: 0;
  
   .Title{
        .Title-Fill-Color{  width: 90%; }
        .Title-Container{
                h1{   font-size: 2em; width: 90%;}
            }
     }

     .DarkBar{
        background:$MBG;
        background: $MGradient
     }
     #Sponsor{
        
        a{ line-height: 1.5em;}
        }
    }
}


/* Medium Phones ----------- */
@media only screen and (min-width : 480px) and (max-width : 576px) {

#Header{
    padding: 0;

    .Title{
        bottom: -15%;

        .Title-Container{
            h1{   font-size: 1.9em; width: 80%;}
        }
        .Title-Fill-Color{  width: 90%; }
    }

    .DarkBar{
        background:$MBG;
        background: $MGradient
     }

    #Sponsor{
        margin-bottom: 0px;
        padding: 0;
        border-bottom: unset;
        a{ line-height: 1.5em;}
        span{ float: left; line-height: 3em;}
        img {float: unset;}
        
        .text-left{
            border-bottom: 1px solid #fff;
            padding: 10px 2px 5px;
           
        }
        .text-right{
            text-align: left !important;
            padding: 5px 2px 0;
            
        }
        
}

    .container{
        h1{   font-size: 1.8em; }
    } 
}

}

/* Small Phones ----------- */
@media only screen and (min-width : 360px) and (max-width : 480px) {
    #Header{
        padding: 0;
        .Title{
            bottom: -11%;
            .Title-Container{
                h1{   font-size: 1.5em; width: 90%;}
            }
            .Title-Fill-Color{  width: 90%; }
        }

        .DarkBar{
            background:$MBG;
            background: $MGradient
         }
         
    }    
}
@media only screen and (min-width : 320px) and (max-width : 360px) {

#Header{
    padding: 0;
    .Title{
        bottom: -20%;
        .Title-Container{
            h1{   font-size: 1.5em; width: 80%;}
        }
        .Title-Fill-Color{  width: 90%; }
    }

    .DarkBar{
        background:$MBG;
        background: $MGradient
     }
    #Sponsor{
        margin-bottom: 0px;
        padding: 0;
        border-bottom: unset;
        a{ line-height: 1.5em;}
        span{ float: left; line-height: 3em;}
        img {float: unset;}
        
        .text-left{
            border-bottom: 1px solid #fff;
            padding: 10px 2px 5px;
           
        }
        .text-right{
            text-align: left !important;
            padding: 5px 2px 0;
            
        }
        
}


}

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
#Header{
    .DarkBar{
        background:$MBG;
        background: $MGradient
     }
     .Title{
        .Title-Container{
            h1{   font-size: 1.3em; width: 100%;}
        }
        
        .Title-Fill-Color{  width: 90%; }
    }

    #Sponsor{
        margin-bottom: 0px;
        padding: 0;
        border-bottom: unset;
        a{ line-height: 1.5em;}
        span{ float: left; line-height: 3em;}
        img {float: unset;}
        
        .text-left{
            border-bottom: 1px solid #fff;
            padding: 10px 2px 5px;
           
        }
        .text-right{
            text-align: left !important;
            padding: 5px 2px 0;
            
        }
        
    }
}
}

/** Landscape Mode **/
@media only screen and (min-width : 731px) and (max-width : 823px) and (orientation : landscape){
    #Glabs #Header .Title{
        bottom: -37%;
    }
} 
@media only screen and (min-width : 640px) and (max-width : 731px) and (orientation : landscape){
    #Glabs #Header .Title{
        bottom: -30%;
    }
}

@media only screen and (max-width : 640px) and (orientation : landscape){
    #Glabs #Header .Title{
        bottom: -40%;
    }
}