/*-

    Styling Structure!

    Global Files
        ** _reset
        ** _variables
        ** _reset_bootstraps // For Custom Classes


    Project Files/ Page Layouts
        ** Pages/ _Main

        Project DOM
            ** dom/_header.scss
         
            ** dom/_BottomNavBar.scss

           Project (Card) Elements
            Outer frame
            ** /components/Cards/_Card_Frame.scss
            Inner Frame
            ** /components/Cards/_Card_Inner.scss

                Inside Inner lies the card Elements
                Card Type
                ** /element/_Card_Typograhy.scss
                Card Header
                ** /element/_Card_Banner.scss
                Card Content
                ** /element/_Card_Content.scss
                Card Bottom Bar
                ** /element/_Card_BottomBar.scss

                Side Specific
                ** /_Card_Front.scss
                ** /_Card_Back.scss


            Flip Action
            ** /components/Cards/_Card_Flip.scss
            Bottom Bar
            ** components/Cards/_Card_Bottom_Bar.scss
            Media Components
            ** /components/Cards/_Card_Media.scss

 
    Global Elements
        Buttons
        ** components/Btns/_btns.scss

-*/
/*- Resets -*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer; }

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none; }

/*- SCCS Properties -*/
@font-face {
  font-display: swap;
  font-family: "GH Guardian Headline";
  font-weight: bold;
  src: url("https://gdn-cdn.s3.amazonaws.com/embed/2018/07/mini-connected-redesign/fonts/GHGuardianHeadline-Bold.woff2") format("woff2"), url("https://gdn-cdn.s3.amazonaws.com/embed/2018/07/mini-connected-redesign/fonts/GHGuardianHeadline-Bold.woff") format("woff"); }

@font-face {
  font-family: "Guardian Headline Regular";
  src: url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Regular.woff2") format("woff2"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Regular.woff") format("woff"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Guardian Headline Bold";
  src: url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Bold.woff2") format("woff2"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Bold.woff") format("woff"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-display: swap;
  font-family: "TS3 Text Sans";
  src: url("https://gdn-cdn.s3.amazonaws.com/embed/2018/07/mini-connected-redesign/fonts/TS3TextSans.woff2") format("woff2"), url("https://gdn-cdn.s3.amazonaws.com/embed/2018/07/mini-connected-redesign/fonts/TS3TextSans.woff") format("woff"); }

@font-face {
  font-display: swap;
  font-family: "TS3 Text Sans";
  font-weight: bold;
  src: url("https://gdn-cdn.s3.amazonaws.com/embed/2018/07/mini-connected-redesign/fonts/TS3TextSans-Bold.woff2") format("woff2"), url("https://gdn-cdn.s3.amazonaws.com/embed/2018/07/mini-connected-redesign/fonts/TS3TextSans-Bold.woff") format("woff"); }

/*- Typograpy  -*/
html body {
  font-family: "TS3 Text Sans";
  background-color: #e2e2e2; }
  html body .nopadding {
    padding: 0; }
  html body .nomargin {
    margin: 0; }

/*- Build up Dom Elements -*/
#LoadingScreen {
  height: 100vh;
  width: 100vh;
  background-color: #e2e2e2; }
  #LoadingScreen .lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    width: 25%;
    margin: 100px 50%; }
  #LoadingScreen .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #69D1CA;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite; }
  #LoadingScreen .lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s; }
  #LoadingScreen .lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s; }
  #LoadingScreen .lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0; }

@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px; }
  50%, 100% {
    top: 19px;
    height: 26px; } }

#Glabs {
  background-color: #060B38;
  margin: 0%;
  padding: 0%;
  /* Smartphones (portrait and landscape) ----------- */
  /* Large Phones ----------- */
  /* Medium Phones ----------- */
  /* Small Phones ----------- */
  /* Smartphones (portrait) ----------- */
  /** Landscape Mode **/
  /* Smartphones (portrait and landscape) ----------- */
  /* Large Phones ----------- */
  /* Medium Phones ----------- */
  /* Small Phones ----------- */
  /* Smartphones (portrait) ----------- */
  /* Smartphones (portrait and landscape) ----------- */
  /* Large Phones ----------- */
  /* Medium Phones ----------- */
  /* Small Phones ----------- */
  /* Smartphones (portrait) ----------- */
  /*
*       TABLET LARGE
*
*/
  /* iPads Pro (landscape) ----------- */
  /* iPads (portrait) ----------- */
  /*
*       TABLET NORMAL
*
*/
  /* iPads (landscape) ----------- */
  /* iPads (portrait) ----------- */
  /*
*       TABLET LARGE
*
*/
  /* iPads Pro (landscape) ----------- */
  /* iPads (portrait) ----------- */
  /*
*       TABLET NORMAL
*
*/
  /* iPads (landscape) ----------- */
  /* iPads (portrait) ----------- */
  /*
*       TABLET LARGE
*
*/
  /* iPads Pro (landscape) ----------- */
  /* iPads (portrait) ----------- */
  /*
*       TABLET NORMAL
*
*/
  /* iPads (landscape) ----------- */
  /* iPads (portrait) ----------- */
  /* Desktops and laptops ----------- */
  /* Large screens ----------- */
  /* Large screens ----------- */
  /* Large screens ----------- */
  /************ 
** Application Variables
*************/
  /*
*       TABLET LARGE
*
*/
  /* iPads Pro (landscape) ----------- */
  /* iPads (portrait) ----------- */
  /*
*       TABLET NORMAL
*
*/
  /* iPads (landscape) ----------- */
  /* iPads (portrait) ----------- */
  /* Large screens ----------- */
  /* Smartphones (portrait and landscape) ----------- */
  /* Large Phones ----------- */
  /* Medium Phones ----------- */
  /* Small Phones ----------- */
  /* Smartphones (portrait) ----------- */ }
  #Glabs h1, #Glabs h2, #Glabs h3 {
    font-family: "Guardian Headline Regular"; }
  #Glabs p, #Glabs span, #Glabs a {
    font-family: "TS3 Text Sans"; }
  #Glabs #Header {
    background-color: #e2e2e2;
    margin: 0%;
    padding: 0 0 10px 0px;
    height: 60vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    align-items: start; }
    #Glabs #Header .Title {
      bottom: -12%;
      width: auto;
      padding: 1em;
      margin: 0;
      width: 100%;
      position: absolute; }
      #Glabs #Header .Title .Title-Fill-Color {
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: 100%;
        background-color: #000;
        z-index: 0; }
      #Glabs #Header .Title .Title-Container {
        z-index: 10;
        position: relative;
        padding: 0; }
        #Glabs #Header .Title .Title-Container h1 {
          font-size: 2.5em;
          font-weight: 100;
          line-height: 1.2em;
          margin: 0 0 0px;
          color: #e2e2e2;
          padding: 3px 14px;
          font-family: "TS3 Text Sans";
          letter-spacing: 1px;
          width: 75%; }
        #Glabs #Header .Title .Title-Container h2 {
          font-size: 2em;
          font-weight: 100;
          line-height: 1.1em;
          margin: 0 0 10px;
          color: #060B38; }
        #Glabs #Header .Title .Title-Container p {
          font-size: 1.2em;
          font-weight: 100;
          line-height: 1.5em;
          margin: 0 20% 10px 0;
          display: none; }
    #Glabs #Header .DarkBar {
      background-color: rgba(0, 0, 0, 0.8);
      height: max-content; }
    #Glabs #Header #Sponsor {
      padding-bottom: 10px;
      padding-top: 10px;
      color: #e2e2e2; }
      #Glabs #Header #Sponsor a {
        color: #e2e2e2;
        text-decoration: none;
        line-height: 3.5em;
        font-weight: 100; }
      #Glabs #Header #Sponsor a:hover {
        text-decoration: underline; }
      #Glabs #Header #Sponsor span {
        line-height: 3.5em;
        float: right;
        color: #e2e2e2; }
      #Glabs #Header #Sponsor img {
        height: 36px;
        margin: 5px 10px 0 10px;
        float: right;
        display: inline-block; }
  #Glabs .BodyCopy {
    color: #fefdf8;
    background-color: transparent;
    margin: 100px 0px 20px;
    padding: 0 0 20px 0; }
    #Glabs .BodyCopy h1 {
      font-size: 3em;
      font-weight: 100;
      line-height: 1.2em;
      margin: 0 0 10px; }
    #Glabs .BodyCopy h2 {
      font-size: 3em;
      font-weight: 100;
      line-height: 1.2em;
      margin: 0 0 10px; }
    #Glabs .BodyCopy h3 {
      font-size: 2em;
      font-weight: 100;
      line-height: 1.1em;
      margin: 0 0 10px; }
    #Glabs .BodyCopy p {
      font-size: 1.2em;
      font-weight: 100;
      line-height: 1.5em;
      margin: 0 0 10px;
      width: 60%;
      letter-spacing: 1px; }
      #Glabs .BodyCopy p a {
        color: #69D1CA;
        font-family: "Guardian Headline Regular"; }
  #Glabs .BodyCopy.below {
    background-color: transparent;
    margin: 40px 0px;
    padding: 0 0 20px 0;
    border: unset; }
    #Glabs .BodyCopy.below .container {
      border-top: 1px solid #9B9B9B;
      padding-top: 20px; }
      #Glabs .BodyCopy.below .container p {
        width: 60%;
        margin: 0 20%;
        text-align: center; }
  @media only screen and (max-width: 992px) {
    #Glabs .BodyCopy p {
      width: 100%;
      padding: 15px 10px; }
    #Glabs .BodyCopy.below .container p {
      width: 90%;
      margin: 0 5%; } }
  @media only screen and (max-width: 576px) {
    #Glabs .BodyCopy.below p {
      text-align: center; } }
  @media only screen and (min-width: 480px) and (max-width: 576px) {
    #Glabs .BodyCopy p {
      width: 100%;
      padding: 15px 10px; } }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    #Glabs .BodyCopy p {
      width: 100%;
      padding: 15px 10px; } }
  @media only screen and (max-width: 320px) {
    #Glabs .BodyCopy p {
      width: 100%;
      padding: 15px 10px; } }
  #Glabs #ShareBar {
    background-color: #69D1CA;
    margin-top: 60px;
    color: #060B38;
    padding: .5em 2em; }
    #Glabs #ShareBar h3 {
      color: #060B38; }
    #Glabs #ShareBar .ReadMore {
      font-weight: 100;
      transition: all .4s ease-in;
      color: #060B38;
      line-height: 1.3em;
      display: inline-block;
      margin: 8px 0; }
      #Glabs #ShareBar .ReadMore strong {
        font-weight: 800; }
    #Glabs #ShareBar .ReadMore:hover {
      text-decoration: none; }
    #Glabs #ShareBar .chevron.right:before {
      display: none;
      left: 0;
      transform: rotate(45deg); }
    #Glabs #ShareBar .chevron.bottom:before {
      top: 0;
      transform: rotate(135deg); }
    #Glabs #ShareBar .chevron.left:before {
      left: 0.25em;
      transform: rotate(-135deg); }
    #Glabs #ShareBar .chevron::before {
      border-style: solid;
      border-width: 0.15em 0.15em 0 0;
      content: '';
      display: inline-block;
      height: 0.45em;
      left: 0.15em;
      position: relative;
      top: 1.1em;
      transform: rotate(-45deg);
      vertical-align: top;
      width: 0.45em; }
    #Glabs #ShareBar #ShareMe {
      background-color: #69D1CA;
      color: #060B38;
      border-radius: 8px;
      padding: 5px 10px;
      border: 2px solid #060B38;
      display: inline-block; }
      #Glabs #ShareBar #ShareMe h3 {
        font-size: 1em;
        font-weight: 100;
        display: inline-block;
        line-height: 2em;
        margin: 0 10px 0 0;
        color: #060B38;
        font-family: "TS3 Text Sans"; }
      #Glabs #ShareBar #ShareMe ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        float: right; }
        #Glabs #ShareBar #ShareMe ul li {
          margin: 0 2px;
          cursor: pointer; }
          #Glabs #ShareBar #ShareMe ul li svg {
            background-color: transparent !important; }
            #Glabs #ShareBar #ShareMe ul li svg path {
              fill: #060B38; }
          #Glabs #ShareBar #ShareMe ul li circle, #Glabs #ShareBar #ShareMe ul li rect {
            fill: #69D1CA; }
  #Glabs #BottomBar {
    display: none;
    background-color: #69D1CA;
    margin: 0%;
    padding: 10px;
    border-top: 3px solid #e2e2e2;
    height: 70px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 99; }
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    #Glabs #Header {
      padding: 0; }
      #Glabs #Header .Title {
        bottom: -14%; } }
  @media only screen and (min-width: 576px) and (max-width: 768px) {
    #Glabs #Header {
      padding: 0; }
      #Glabs #Header .Title .Title-Fill-Color {
        width: 90%; }
      #Glabs #Header .Title .Title-Container h1 {
        font-size: 2em;
        width: 90%; }
      #Glabs #Header .DarkBar {
        background: black;
        background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.393995) 50%, rgba(255, 255, 255, 0) 100%); }
      #Glabs #Header #Sponsor a {
        line-height: 1.5em; } }
  @media only screen and (min-width: 480px) and (max-width: 576px) {
    #Glabs #Header {
      padding: 0; }
      #Glabs #Header .Title {
        bottom: -15%; }
        #Glabs #Header .Title .Title-Container h1 {
          font-size: 1.9em;
          width: 80%; }
        #Glabs #Header .Title .Title-Fill-Color {
          width: 90%; }
      #Glabs #Header .DarkBar {
        background: black;
        background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.393995) 50%, rgba(255, 255, 255, 0) 100%); }
      #Glabs #Header #Sponsor {
        margin-bottom: 0px;
        padding: 0;
        border-bottom: unset; }
        #Glabs #Header #Sponsor a {
          line-height: 1.5em; }
        #Glabs #Header #Sponsor span {
          float: left;
          line-height: 3em; }
        #Glabs #Header #Sponsor img {
          float: unset; }
        #Glabs #Header #Sponsor .text-left {
          border-bottom: 1px solid #fff;
          padding: 10px 2px 5px; }
        #Glabs #Header #Sponsor .text-right {
          text-align: left !important;
          padding: 5px 2px 0; }
      #Glabs #Header .container h1 {
        font-size: 1.8em; } }
  @media only screen and (min-width: 360px) and (max-width: 480px) {
    #Glabs #Header {
      padding: 0; }
      #Glabs #Header .Title {
        bottom: -11%; }
        #Glabs #Header .Title .Title-Container h1 {
          font-size: 1.5em;
          width: 90%; }
        #Glabs #Header .Title .Title-Fill-Color {
          width: 90%; }
      #Glabs #Header .DarkBar {
        background: black;
        background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.393995) 50%, rgba(255, 255, 255, 0) 100%); } }
  @media only screen and (min-width: 320px) and (max-width: 360px) {
    #Glabs #Header {
      padding: 0; }
      #Glabs #Header .Title {
        bottom: -20%; }
        #Glabs #Header .Title .Title-Container h1 {
          font-size: 1.5em;
          width: 80%; }
        #Glabs #Header .Title .Title-Fill-Color {
          width: 90%; }
      #Glabs #Header .DarkBar {
        background: black;
        background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.393995) 50%, rgba(255, 255, 255, 0) 100%); }
      #Glabs #Header #Sponsor {
        margin-bottom: 0px;
        padding: 0;
        border-bottom: unset; }
        #Glabs #Header #Sponsor a {
          line-height: 1.5em; }
        #Glabs #Header #Sponsor span {
          float: left;
          line-height: 3em; }
        #Glabs #Header #Sponsor img {
          float: unset; }
        #Glabs #Header #Sponsor .text-left {
          border-bottom: 1px solid #fff;
          padding: 10px 2px 5px; }
        #Glabs #Header #Sponsor .text-right {
          text-align: left !important;
          padding: 5px 2px 0; } }
  @media only screen and (max-width: 320px) {
    #Glabs #Header .DarkBar {
      background: black;
      background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.393995) 50%, rgba(255, 255, 255, 0) 100%); }
    #Glabs #Header .Title .Title-Container h1 {
      font-size: 1.3em;
      width: 100%; }
    #Glabs #Header .Title .Title-Fill-Color {
      width: 90%; }
    #Glabs #Header #Sponsor {
      margin-bottom: 0px;
      padding: 0;
      border-bottom: unset; }
      #Glabs #Header #Sponsor a {
        line-height: 1.5em; }
      #Glabs #Header #Sponsor span {
        float: left;
        line-height: 3em; }
      #Glabs #Header #Sponsor img {
        float: unset; }
      #Glabs #Header #Sponsor .text-left {
        border-bottom: 1px solid #fff;
        padding: 10px 2px 5px; }
      #Glabs #Header #Sponsor .text-right {
        text-align: left !important;
        padding: 5px 2px 0; } }
  @media only screen and (min-width: 731px) and (max-width: 823px) and (orientation: landscape) {
    #Glabs #Glabs #Header .Title {
      bottom: -37%; } }
  @media only screen and (min-width: 640px) and (max-width: 731px) and (orientation: landscape) {
    #Glabs #Glabs #Header .Title {
      bottom: -30%; } }
  @media only screen and (max-width: 640px) and (orientation: landscape) {
    #Glabs #Glabs #Header .Title {
      bottom: -40%; } }
  @media only screen and (min-width: 576px) and (max-width: 768px) {
    #Glabs #ShareBar {
      margin-top: 30px; }
      #Glabs #ShareBar .col-sm-12 {
        text-align: center !important; }
      #Glabs #ShareBar .ReadMore {
        top: -15px;
        position: relative; }
      #Glabs #ShareBar #ShareMe {
        position: relative;
        top: -30px;
        border: 1px solid #060B38; } }
  @media only screen and (min-width: 480px) and (max-width: 576px) {
    #Glabs #ShareBar {
      margin-top: 30px; }
      #Glabs #ShareBar .col-sm-12 {
        text-align: center !important; }
      #Glabs #ShareBar .ReadMore {
        line-height: 1.5em;
        top: -15px;
        position: relative; }
        #Glabs #ShareBar .ReadMore strong {
          display: inline-block; }
      #Glabs #ShareBar .chevron::before {
        top: 0.55em; }
      #Glabs #ShareBar #ShareMe {
        position: relative;
        top: -30px;
        border: 1px solid #060B38; } }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    #Glabs #ShareBar {
      margin-top: 30px; }
      #Glabs #ShareBar .col-sm-12 {
        text-align: center !important; }
      #Glabs #ShareBar .ReadMore {
        line-height: 1.5em;
        top: -15px;
        position: relative; }
        #Glabs #ShareBar .ReadMore strong {
          display: inline-block; }
      #Glabs #ShareBar .chevron {
        display: none; }
      #Glabs #ShareBar #ShareMe {
        position: relative;
        top: -30px;
        border: 1px solid #060B38; } }
  @media only screen and (max-width: 320px) {
    #Glabs #ShareBar {
      margin-top: 30px; }
      #Glabs #ShareBar .col-sm-12 {
        text-align: center !important;
        padding: 0; }
      #Glabs #ShareBar .ReadMore {
        line-height: 1.5em;
        top: -15px;
        position: relative; }
        #Glabs #ShareBar .ReadMore strong {
          display: inline-block; }
      #Glabs #ShareBar .chevron {
        display: none; }
      #Glabs #ShareBar #ShareMe {
        position: relative;
        top: -30px;
        border: 1px solid #060B38; } }
  @media only screen and (min-width: 990px) and (max-width: 1024px) {
    #Glabs {
      /* Styles */ } }
  #Glabs #FlipCard {
    background-color: #060B38;
    margin: 1% 0% 60px;
    padding: 2% 0%;
    /*- Card sides -*/
    /* UPDATED FLIP : Works in Safari */
    /**
  Call to Action Button
*/
    /*
// FLIP Button
*/
    /* Open or Close All Cards btn, Located top of the page */
    /**

  Set Btn Styles for the Back side of the card

*/ }
    #Glabs #FlipCard .Card_Frame {
      background-color: #060B38;
      margin: 0;
      padding: 0%; }
      #Glabs #FlipCard .Card_Frame .card-container {
        height: 580px;
        background-color: #060B38;
        margin: 0;
        padding: 10px;
        position: relative;
        z-index: 1;
        perspective: 1000px; }
        #Glabs #FlipCard .Card_Frame .card-container .card-body {
          background-color: transparent;
          margin: 0;
          padding: 0px;
          width: 100%;
          height: 100%;
          border-top: 1px solid rgba(255, 255, 255, 0.2); }
    #Glabs #FlipCard .Card_Frame:nth-child(1) img.BannerImage {
      width: 50%;
      margin: 10% 25%;
      -webkit-filter: drop-shadow(1px 1px 3px #FF0053);
      filter: drop-shadow(1px 1px 3px #FF0053); }
    #Glabs #FlipCard .Card_Frame:nth-child(1) .Button_Action_FlipMe:hover {
      border-color: #FF0053;
      color: #FF0053;
      background-color: #250035; }
    #Glabs #FlipCard .Card_Frame:nth-child(2) img.BannerImage {
      width: 70%;
      margin: 20% 15% 0;
      -webkit-filter: drop-shadow(1px 1px 3px #00E4FF);
      filter: drop-shadow(1px 1px 3px #00E4FF); }
    #Glabs #FlipCard .Card_Frame:nth-child(2) .Button_Action_FlipMe:hover {
      border-color: #00E4FF;
      color: #00E4FF;
      background-color: #250035; }
    #Glabs #FlipCard .Card_Frame:nth-child(3) img.BannerImage {
      width: 70%;
      margin: 20% 15% 0;
      -webkit-filter: drop-shadow(1px 1px 3px #FF9F00);
      filter: drop-shadow(1px 1px 3px #FF9F00); }
    #Glabs #FlipCard .Card_Frame:nth-child(3) .Button_Action_FlipMe:hover {
      border-color: #FF9F00;
      color: #FF9F00;
      background-color: #250035; }
    #Glabs #FlipCard .Card_Frame:nth-child(4) img.BannerImage {
      width: 70%;
      margin: 20% 15% 0;
      -webkit-filter: drop-shadow(1px 1px 3px #00FF81);
      filter: drop-shadow(1px 1px 3px #00FF81); }
    #Glabs #FlipCard .Card_Frame:nth-child(4) .Button_Action_FlipMe:hover {
      border-color: #00FF81;
      color: #00FF81;
      background-color: #250035; }
    #Glabs #FlipCard .Card_Frame:nth-child(5) img.BannerImage {
      width: 40%;
      margin: 20% 30%;
      -webkit-filter: drop-shadow(1px 1px 3px #FFF13F);
      filter: drop-shadow(1px 1px 3px #FFF13F); }
    #Glabs #FlipCard .Card_Frame:nth-child(5) .Button_Action_FlipMe:hover {
      border-color: #FFF13F;
      color: #FFF13F;
      background-color: #250035; }
    #Glabs #FlipCard .Card_Frame:nth-child(6) img.BannerImage {
      width: 70%;
      margin: 20% 15% 0;
      -webkit-filter: drop-shadow(1px 1px 3px #F89CFF);
      filter: drop-shadow(1px 1px 3px #F89CFF); }
    #Glabs #FlipCard .Card_Frame:nth-child(6) .Button_Action_FlipMe:hover {
      border-color: #F89CFF;
      color: #F89CFF;
      background-color: #250035; }
    #Glabs #FlipCard .card-side {
      background-color: transparent;
      margin: 0;
      padding: 0px;
      position: absolute;
      overflow: hidden;
      top: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      box-shadow: 0 10px 35px rgba(50, 50, 93, 0.1), 0 2px 15px rgba(0, 0, 0, 0.07);
      background-size: cover; }
      #Glabs #FlipCard .card-side .card-side-outer {
        background-color: transparent;
        margin: 0;
        padding: 0px; }
        #Glabs #FlipCard .card-side .card-side-outer .card-side-layout {
          width: 100%;
          background-color: transparent;
          margin: 0 15px;
          padding: 0px;
          font-size: .72em;
          /* Inner Card Elements */ }
          #Glabs #FlipCard .card-side .card-side-outer .card-side-layout h1 {
            font-size: 3em;
            font-weight: 100;
            line-height: 1.2em;
            margin: 0;
            font-family: "Guardian Headline Regular"; }
          #Glabs #FlipCard .card-side .card-side-outer .card-side-layout h2 {
            font-family: "Guardian Headline Regular";
            margin: 0 0 15px 0;
            padding-top: 1.2em;
            font-size: 3.2em;
            font-weight: 800;
            line-height: 1em;
            margin: 0;
            color: #e2e2e2; }
          #Glabs #FlipCard .card-side .card-side-outer .card-side-layout h3 {
            font-size: 1.6em;
            font-weight: 100;
            line-height: 1.1em;
            margin: 0;
            font-family: "TS3 Text Sans";
            margin: 10px 0 0 0;
            color: #e2e2e2; }
          #Glabs #FlipCard .card-side .card-side-outer .card-side-layout p {
            font-size: 1.2em;
            font-weight: 100;
            line-height: 1.5em;
            margin: 0; }
          #Glabs #FlipCard .card-side .card-side-outer .card-side-layout .Side-Banner {
            background-color: transparent;
            margin: 0;
            padding: 1px; }
            #Glabs #FlipCard .card-side .card-side-outer .card-side-layout .Side-Banner img {
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden; }
          #Glabs #FlipCard .card-side .card-side-outer .card-side-layout .Side-Content {
            background-color: transparent;
            margin: 0;
            padding: 0 15px; }
          #Glabs #FlipCard .card-side .card-side-outer .card-side-layout .Card_Bottom {
            background-color: transparent;
            margin: 0;
            padding: 0;
            position: absolute;
            bottom: 0;
            width: 100%; }
            #Glabs #FlipCard .card-side .card-side-outer .card-side-layout .Card_Bottom #CTA {
              background-color: transparent;
              margin: 10px 0 50px;
              padding: 0; }
            #Glabs #FlipCard .card-side .card-side-outer .card-side-layout .Card_Bottom .ActionBar {
              background-color: transparent;
              margin: 0;
              padding: 0;
              position: relative;
              height: 45px; }
    #Glabs #FlipCard .card-container .side-front [class^=col-xs]:first-of-type {
      padding-left: 0; }
    #Glabs #FlipCard .card-container .side-front {
      background-color: #060B38; }
      #Glabs #FlipCard .card-container .side-front h2 {
        color: #e2e2e2;
        text-align: center;
        padding-top: 2.7em; }
      #Glabs #FlipCard .card-container .side-front h3 {
        color: #e2e2e2;
        text-align: center; }
      #Glabs #FlipCard .card-container .side-front p {
        color: #e2e2e2; }
      #Glabs #FlipCard .card-container .side-front .Side-Content {
        background-color: #060B38; }
    #Glabs #FlipCard .card-container .side-back {
      background-color: #e2e2e2;
      z-index: 2;
      padding: 20px 5px; }
      #Glabs #FlipCard .card-container .side-back .Side-Content {
        background-color: #e2e2e2; }
      #Glabs #FlipCard .card-container .side-back h1 {
        color: #e2e2e2; }
      #Glabs #FlipCard .card-container .side-back h2 {
        color: #69D1CA;
        padding: 10px 0 5px 0;
        display: none; }
      #Glabs #FlipCard .card-container .side-back h3 {
        color: #e2e2e2;
        padding: 0 0 20px 0;
        display: none; }
      #Glabs #FlipCard .card-container .side-back p {
        color: #e2e2e2; }
    #Glabs #FlipCard .card-container {
      perspective: 1000px; }
      #Glabs #FlipCard .card-container .card-body {
        transition: 1.2s;
        transform-style: preserve-3d;
        position: relative; }
        #Glabs #FlipCard .card-container .card-body .card-side {
          backface-visibility: hidden; }
        #Glabs #FlipCard .card-container .card-body .side-front {
          z-index: 2;
          /* for firefox 31 */
          transform: rotateY(0deg); }
        #Glabs #FlipCard .card-container .card-body .side-back {
          transform: rotateY(180deg); }
    #Glabs #FlipCard .card-container.back .card-body {
      transform: rotateY(180deg); }
    #Glabs #FlipCard .BeforeAfterSlider {
      margin: 0 auto;
      z-index: 9;
      width: 100% !important; }
    #Glabs #FlipCard button {
      -webkit-appearance: initial; }
    #Glabs #FlipCard .Button_Action_CTA {
      color: #e2e2e2;
      background-color: #060B38;
      border-color: #e2e2e2; }
    #Glabs #FlipCard .Button_Action_CTA:hover {
      color: #69D1CA;
      background-color: #060B38;
      border-color: #69D1CA; }
    #Glabs #FlipCard .Button_Action_FlipMe {
      color: #fefdf8;
      background-color: #250035;
      border-color: #fefdf8;
      position: relative;
      top: -50%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      border: 1px solid #fefdf8;
      width: 80%;
      height: 50px;
      cursor: pointer;
      border-radius: 30px; }
      #Glabs #FlipCard .Button_Action_FlipMe i {
        transition: transform .3s;
        font-size: 40px; }
    #Glabs #FlipCard .Button_Action_FlipMe:hover {
      color: #69D1CA;
      background-color: #250035;
      border-color: #060B38; }
      #Glabs #FlipCard .Button_Action_FlipMe:hover i {
        transform: rotate(180deg);
        transition: transform .3s; }
    #Glabs #FlipCard .OpenAll {
      float: right;
      margin: 10px 0;
      color: #e2e2e2;
      background-color: #69D1CA;
      border-color: #69D1CA;
      transition: transform 1s; }
    #Glabs #FlipCard .OpenAll:hover {
      color: #69D1CA;
      background-color: #e2e2e2;
      border-color: #e2e2e2;
      transform: rotate(180deg);
      transition: transform 1s; }
    #Glabs #FlipCard .side-back .Button_Action_FlipMe {
      color: #fefdf8;
      background-color: #250035;
      border-color: #fefdf8; }
      #Glabs #FlipCard .side-back .Button_Action_FlipMe i {
        transition: transform .3s; }
    #Glabs #FlipCard .side-back .Button_Action_FlipMe:hover {
      color: #e2e2e2;
      background-color: #250035;
      border-color: #e2e2e2; }
      #Glabs #FlipCard .side-back .Button_Action_FlipMe:hover i {
        transform: rotate(180deg);
        transition: transform .3s; }
    #Glabs #FlipCard .side-back .Button_Action_CTA {
      color: #69D1CA;
      background-color: #250035;
      border-color: #69D1CA; }
    #Glabs #FlipCard .side-back .Button_Action_CTA:hover {
      color: #e2e2e2;
      background-color: #250035;
      border-color: #69D1CA; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    #Glabs #Glabs #Header .Title {
      bottom: -8%; } }
  @media only screen and (min-width: 1024px) and (max-width: 1200px) {
    #Glabs #Glabs #FlipCard {
      margin: 1% 0% 60px;
      padding: 0; }
      #Glabs #Glabs #FlipCard .Card_Frame .card-container {
        padding: 1px; } }
  @media only screen and (min-width: 992px) and (max-width: 1024px) {
    #Glabs #Glabs #FlipCard {
      margin: 1% 0% 60px;
      padding: 0; }
      #Glabs #Glabs #FlipCard .Card_Frame .card-container {
        padding: 1px; } }
  @media only screen and (min-width: 990px) {
    #Glabs #FlipCard.ShopOpen .front {
      opacity: .3;
      margin: 10px 3px;
      transition: all .6s ease-in, visibility .75s linear;
      height: 560px; }
    #Glabs #FlipCard.ShopOpen .front:hover {
      transition: all .6s ease-in, visibility .75s linear;
      opacity: .8; }
    #Glabs #FlipCard.ShopOpen .back {
      transition: all .6s ease-in, visibility .75s linear;
      opacity: 1;
      margin: 0px; }
    #Glabs #FlipCard.Shopclosed .front {
      transition: all .6s ease-in, visibility .75s linear;
      opacity: 1;
      margin: 0px; } }
  @media only screen and (min-width: 576px) and (max-width: 768px) {
    #Glabs #Glabs #FlipCard {
      padding: 0; }
      #Glabs #Glabs #FlipCard .Card_Frame .card-container {
        padding: 3px; }
      #Glabs #Glabs #FlipCard .Card_Frame:nth-child(1) img.BannerImage {
        width: 40%;
        margin: 5% 30%;
        -webkit-filter: drop-shadow(1px 1px 3px #FF0053);
        filter: drop-shadow(1px 1px 3px #FF0053); }
      #Glabs #Glabs #FlipCard .Card_Frame:nth-child(2) img.BannerImage {
        width: 60%;
        margin: 10% 20% 0;
        -webkit-filter: drop-shadow(1px 1px 3px #00E4FF);
        filter: drop-shadow(1px 1px 3px #00E4FF); }
      #Glabs #Glabs #FlipCard .Card_Frame:nth-child(3) img.BannerImage {
        width: 60%;
        margin: 15% 20% 0;
        -webkit-filter: drop-shadow(1px 1px 3px #FF9F00);
        filter: drop-shadow(1px 1px 3px #FF9F00); }
      #Glabs #Glabs #FlipCard .Card_Frame:nth-child(4) img.BannerImage {
        width: 60%;
        margin: 15% 20% 0;
        -webkit-filter: drop-shadow(1px 1px 3px #00FF81);
        filter: drop-shadow(1px 1px 3px #00FF81); }
      #Glabs #Glabs #FlipCard .Card_Frame:nth-child(5) img.BannerImage {
        width: 36%;
        margin: 7% 34%;
        -webkit-filter: drop-shadow(1px 1px 3px #FFF13F);
        filter: drop-shadow(1px 1px 3px #FFF13F); }
      #Glabs #Glabs #FlipCard .Card_Frame:nth-child(6) img.BannerImage {
        width: 60%;
        margin: 15% 20% 0;
        -webkit-filter: drop-shadow(1px 1px 3px #F89CFF);
        filter: drop-shadow(1px 1px 3px #F89CFF); } }
  @media only screen and (min-width: 480px) and (max-width: 576px) {
    #Glabs #Glabs #FlipCard {
      padding: 0; }
      #Glabs #Glabs #FlipCard .Card_Frame .card-container {
        padding: 5px; }
      #Glabs #Glabs #FlipCard .Card_Frame:nth-child(1) img.BannerImage {
        width: 40%;
        margin: 5% 30%;
        -webkit-filter: drop-shadow(1px 1px 3px #FF0053);
        filter: drop-shadow(1px 1px 3px #FF0053); }
      #Glabs #Glabs #FlipCard .Card_Frame:nth-child(2) img.BannerImage {
        width: 60%;
        margin: 10% 20% 0;
        -webkit-filter: drop-shadow(1px 1px 3px #00E4FF);
        filter: drop-shadow(1px 1px 3px #00E4FF); }
      #Glabs #Glabs #FlipCard .Card_Frame:nth-child(3) img.BannerImage {
        width: 60%;
        margin: 15% 20% 0;
        -webkit-filter: drop-shadow(1px 1px 3px #FF9F00);
        filter: drop-shadow(1px 1px 3px #FF9F00); }
      #Glabs #Glabs #FlipCard .Card_Frame:nth-child(4) img.BannerImage {
        width: 60%;
        margin: 15% 20% 0;
        -webkit-filter: drop-shadow(1px 1px 3px #00FF81);
        filter: drop-shadow(1px 1px 3px #00FF81); }
      #Glabs #Glabs #FlipCard .Card_Frame:nth-child(5) img.BannerImage {
        width: 36%;
        margin: 7% 34%;
        -webkit-filter: drop-shadow(1px 1px 3px #FFF13F);
        filter: drop-shadow(1px 1px 3px #FFF13F); }
      #Glabs #Glabs #FlipCard .Card_Frame:nth-child(6) img.BannerImage {
        width: 60%;
        margin: 15% 20% 0;
        -webkit-filter: drop-shadow(1px 1px 3px #F89CFF);
        filter: drop-shadow(1px 1px 3px #F89CFF); } }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    #Glabs #Glabs #FlipCard {
      padding: 0; }
      #Glabs #Glabs #FlipCard .Card_Frame .card-container {
        padding: 5px; }
      #Glabs #Glabs #FlipCard .Card_Frame:nth-child(1) img.BannerImage {
        width: 50%;
        margin: 10% 25%;
        -webkit-filter: drop-shadow(1px 1px 3px #FF0053);
        filter: drop-shadow(1px 1px 3px #FF0053); }
      #Glabs #Glabs #FlipCard .Card_Frame:nth-child(2) img.BannerImage {
        width: 70%;
        margin: 20% 15% 0;
        -webkit-filter: drop-shadow(1px 1px 3px #00E4FF);
        filter: drop-shadow(1px 1px 3px #00E4FF); }
      #Glabs #Glabs #FlipCard .Card_Frame:nth-child(3) img.BannerImage {
        width: 70%;
        margin: 20% 15% 0;
        -webkit-filter: drop-shadow(1px 1px 3px #FF9F00);
        filter: drop-shadow(1px 1px 3px #FF9F00); }
      #Glabs #Glabs #FlipCard .Card_Frame:nth-child(4) img.BannerImage {
        width: 70%;
        margin: 20% 15% 0;
        -webkit-filter: drop-shadow(1px 1px 3px #00FF81);
        filter: drop-shadow(1px 1px 3px #00FF81); }
      #Glabs #Glabs #FlipCard .Card_Frame:nth-child(5) img.BannerImage {
        width: 40%;
        margin: 20% 30%;
        -webkit-filter: drop-shadow(1px 1px 3px #FFF13F);
        filter: drop-shadow(1px 1px 3px #FFF13F); }
      #Glabs #Glabs #FlipCard .Card_Frame:nth-child(6) img.BannerImage {
        width: 70%;
        margin: 20% 15% 0;
        -webkit-filter: drop-shadow(1px 1px 3px #F89CFF);
        filter: drop-shadow(1px 1px 3px #F89CFF); } }
  @media only screen and (max-width: 320px) {
    #Glabs #Glabs #FlipCard {
      padding: 0; }
      #Glabs #Glabs #FlipCard .Card_Frame .card-container {
        padding: 5px;
        height: 620px; }
      #Glabs #Glabs #FlipCard .Card_Frame:nth-child(1) img.BannerImage {
        width: 50%;
        margin: 10% 25%;
        -webkit-filter: drop-shadow(1px 1px 3px #FF0053);
        filter: drop-shadow(1px 1px 3px #FF0053); }
      #Glabs #Glabs #FlipCard .Card_Frame:nth-child(2) img.BannerImage {
        width: 70%;
        margin: 20% 15% 0;
        -webkit-filter: drop-shadow(1px 1px 3px #00E4FF);
        filter: drop-shadow(1px 1px 3px #00E4FF); }
      #Glabs #Glabs #FlipCard .Card_Frame:nth-child(3) img.BannerImage {
        width: 70%;
        margin: 20% 15% 0;
        -webkit-filter: drop-shadow(1px 1px 3px #FF9F00);
        filter: drop-shadow(1px 1px 3px #FF9F00); }
      #Glabs #Glabs #FlipCard .Card_Frame:nth-child(4) img.BannerImage {
        width: 70%;
        margin: 20% 15% 0;
        -webkit-filter: drop-shadow(1px 1px 3px #00FF81);
        filter: drop-shadow(1px 1px 3px #00FF81); }
      #Glabs #Glabs #FlipCard .Card_Frame:nth-child(5) img.BannerImage {
        width: 40%;
        margin: 20% 30%;
        -webkit-filter: drop-shadow(1px 1px 3px #FFF13F);
        filter: drop-shadow(1px 1px 3px #FFF13F); }
      #Glabs #Glabs #FlipCard .Card_Frame:nth-child(6) img.BannerImage {
        width: 70%;
        margin: 20% 15% 0;
        -webkit-filter: drop-shadow(1px 1px 3px #F89CFF);
        filter: drop-shadow(1px 1px 3px #F89CFF); } }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #Glabs #FlipCard .card-container {
      perspective: 1000px;
      transform-style: preserve-3d; }
      #Glabs #FlipCard .card-container .card-body {
        transition: 0.6s;
        position: relative;
        transition: all .5s; }
        #Glabs #FlipCard .card-container .card-body .side-front {
          transition: 0.6s;
          position: absolute;
          top: 0;
          left: 0; }
        #Glabs #FlipCard .card-container .card-body .side-back {
          transition: 0.6s;
          position: absolute;
          top: 0;
          left: 0; }
    #Glabs #FlipCard .card-container.front .card-body .side-front {
      z-index: 2; }
    #Glabs #FlipCard .card-container.front .card-body .side-back {
      z-index: 1;
      transform: rotateY(180deg);
      backface-visibility: hidden; }
    #Glabs #FlipCard .card-container.back .card-body .side-front {
      z-index: 1;
      transform: rotateY(180deg);
      backface-visibility: hidden; }
    #Glabs #FlipCard .card-container.back .card-body .side-back {
      z-index: 2;
      transform: rotateY(0deg); } }
