// Base Colors
$PrimaryColor:#e2e2e2;
$SecondaryColor:#060B38; 
$TertiaryColor:#69D1CA; 
$Quaternary:#fefdf8; 
$Quinary:#250035; 



// Type Colors
$PrimaryHColor:$SecondaryColor;
$SecondaryHColor:$Quaternary;
$TertiaryHColor:$PrimaryColor;

$PrimaryPColor:$SecondaryColor;
$SecondaryPColor:$Quaternary;
$TertiaryPColor:$PrimaryColor;  